* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0.5)), url("../photos/vzgliad-poza-fitnes-muscle-myshtsy-press-atlet-trenazhery--2\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #ffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}

ul li.active a {
    background-color: #ffff;
    color: #000;
}
ul li a:hover {
    background-color: #ffff;
    color: #000;
}

.logo img {
    float: left;
    height: auto;
    width: 150px;
}

.title {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,50%);
}
.title h1 {
    color: #ffff;
    font-size: 70px;
}

.buttons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    text-decoration: none;
    color: #ffff;
    padding: 10px 30px;
    border: 1px solid #ffff;
    transition: 0.6s;
}

.btn:hover {
    background-color: #ffff;
    color: #000;
}

/* about */

.aboutG {
    font-family: sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 53%;
    border: 5px solid transparent;
    transform: translate(-50%, -50%);
    direction: ltr;
    transition: 00.6s;

}

.p1 {
    color: #ffff;
}
.p2 {
    color: #ffff;
}

.p3 {
    color: #ffff;
}


/* gallary */

.transform {
    border: 5px solid transparent;
    position: absolute;
    float: right;
    font-size: 20px;
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
    transition: 00.6s;
}

.transform2 {
    border: 5px solid transparent;
    position: absolute;
    float: right;
    top: 50%;
    left: 74%;
    transform: translate(-50%, -50%);
    transition: 00.6s;
}

.Gp {
    color: deepskyblue;
}

/* contact us */

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    transition: 00.6s;
  }

  .form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  input[type=text] {
      border: none;
      border-bottom: 2px solid #ffff;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }

  input[type=email] {
    border: none;
    border-bottom: 2px solid #ffff;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;;
    margin-left: 43px;
  }

  .mm {
    color: yellowgreen;
    position: absolute;
    top: 248px;
    left: 36px;
  }

  button[type = submit] {
    text-align: center;
    position: absolute;
    left: 40%;
    font-size: x-large;
    color: unset;
    border: none;
    border-radius: 20px;
    width: 129px;
  }

  #Message {
      margin-left: 78px;
  }

  label {
      color: #ffff;
  }


  